/*reset*/
@import url(reset.css);

/*geral*/
@import url(header.css);
@import url(plot.css);
@import url(footer.css);

/*game*/
@import url(footerGame.css);
@import url(gameNome.css);
@import url(gameGenero.css);
@import url(gameClasse.css);
@import url(gameCombate.css);
@import url(menu.css);

/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --fonte: 'VT323', monospace;
    
    /*estilo 1*/
    --cor-fonte-1: #006400;
    --cor-fonte-hover-1: #008000;
    --cor-fundo-1: #000000;

    --fonte-grande: 6rem;
    --font-media: 4rem;
    --font-pequena: 2rem;
    --font-menor: 1.2rem; 
}

body {
    background-color: var(--cor-fundo-1);
    color: var(--cor-fonte-1);
    font-family: var(--fonte);
}

.titulo {
    font-size: var(--fonte-grande);
}

.sub-titulo {
    font-size: var(--font-media);
}

.texto {
    font-size: var(--font-pequena);
}

.ascii {
    text-align: center;
    font-family: monospace;
    white-space: pre;
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: var(--cor-fonte-hover-1);
}

.botao {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}
