.nome__container {
    display: flex;
    gap: 1px;
    margin-bottom: 1em;
}

.nome__input {
    background-color: var(--cor-fundo-1);
    width: 20%;
    border-bottom: 2px solid var(--cor-fonte-1);
}

.nome__input:focus {
    border: 0; 
    border-width: 0; 
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid var(--cor-fonte-1);
}